body {
    background-color: #fdfdfd;
    color: #333;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url("background.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -120px; 
    left: 50%;
    transform: translateX(-50%);
}

.paragraph-down {
    margin-top: 120px; 
}


#Cyril {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

.profile-container h1 {
    margin-top: 0px;
    font-size: 22px;
    color: black;
}

.main-container {
    max-width: 900px;
    margin: 600px auto 50px auto;
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    margin-top: 150px; 
    border-radius: 10px;
    box-shadow: 6px 4px 8px rgba(0, 0, 0, 0.1);
}


.degree {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}

.skill-box {
    background: #eef2f3;
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    background: #0077b5;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #005a8d;
}

.follow-me {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
}

.follow-me li {
    display: inline-block;
}

.follow-me a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.follow-me a:hover {
    color: #0077b5;
}

.follow-container, .sub-section {
    width: 700px;
    margin: 40px auto;
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Correction de la syntaxe */
    padding: 5px;
}

.content-container {
    width: 90%; /* Ajuste la largeur pour s’adapter aux petits écrans */
    max-width: 800px; /* Largeur max pour éviter une mise en page trop large sur desktop */
    margin: auto; /* Centre le contenu */
    padding: 20px;
}


.section, .sub-section, .follow-container {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 16px;
    line-height: 1.5;
}

@media screen and (max-width: 600px) {
    .content-container {
        width: 95%; /* Ajuste la largeur pour petits écrans */
        padding: 10px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}
